{% extends "forum/base.html" %}

{% block content %}
{% if forum.thread_set.all %}
    <table border=1>
    <tr>
    <th> Title
    <th> Started by
    <th> Replies
    <th> Views
    <th> Last post
    {% for thread in forum.thread_set.all %}
        <tr>
        <td><a href="{% url 'thread' thread.id %}">{{ thread }}</a>
        <td>{{ thread.author }}
        <td>{{ thread.replies }}
        <td>{{ thread.views }}
        <td>{{ thread.last_post.author }} on {{ thread.last_post.date_created }}
    {% endfor %}
    </table>
{% else %}
    <p>No threads in a forum.
{% endif %}
{% endblock %}
